<!DOCTYPE html>
<html lang="en">
    <%- include("../components/head/head.ejs") %>
    <body>
        <div>
            <header><%- include("../components/header/header.ejs") %></header>
            <div class="pageContent">
                <div class="signin">
                    <form action="/api/signin" method="post">
                        <label for="email">Email:</label
                        ><input
                            id="email"
                            type="email"
                            name="username"
                            placeholder="e-mail"
                            required
                        />
                        <label for="password">Password:</label>
                        <input
                            type="password"
                            name="password"
                            placeholder="password"
                            id="password"
                            required
                        />

                        <input type="submit" value="Sign in" />
                    </form>
                </div>
            </div>
            <footer><%- include("../components/footer/footer.ejs") %></footer>
        </div>
    </body>
</html>
