<!DOCTYPE html>
<html lang="en">
	<%- include("../components/head/head.ejs") %>
	<body>
		<div>
			<header><%- include("../components/header/header.ejs") %></header>
			<div class="pageContent">
				<form action="/api/signin" method="post">
					<label
						>email:
						<input type="email" name="username"required
					/></label>
					<label
						>password:
						<input type="password" name="password" required
					/></label>
					<input type="submit" value="Sign in" />
				</form>
			</div>
			<footer><%- include("../components/footer/footer.ejs") %></footer>
		</div>
	</body>
</html>
