<nav>
    <div class="innerNav">
        <img src="/icon.png" alt="Logo" />
        <p>Questionnaire</p>
    </div>
    <ul class="linkek">
        <li>
            <a href="/">Main Page</a>
        </li>
        <li>
            <a href="/quiz">Quiz</a>
        </li>
        <li>
            <a href="/upload">Upload quiz</a>
        </li>
        <li>
            <a href="/moderation/quiz">Quizzes</a>
        </li>
        <li>
            <a href="/moderation/user">Users</a>
        </li>
        <li>
            <a href="/profile">Profile</a>
        </li>
    </ul>
    <a href="#" class="toggle-button" onclick="toggleHam()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
</nav>
