<!DOCTYPE html>
<html lang="en">
    <%- include("../components/head/head.ejs") %>
    <body>
        <div>
            <header><%- include("../components/header/header.ejs") %></header>
            <div class="pageContent">
                <div class="impressum">
                    <h2>Questionnaire Ltd.</h2>
                    <h3>Address:</h3>
                    <p>
                        529900K9864847 Address: Koeniginstrasse 28 80802 Munich,
                        Germany
                    </p>
                    <h3>Phone:</h3>
                    <p>+36 1 3800321</p>
                    <h3>E-mail:</h3>
                    <p>adimralgeneral@questionnaire.com</p>
                </div>
            </div>
            <footer><%- include("../components/footer/footer.ejs") %></footer>
        </div>
    </body>
</html>
