<!DOCTYPE html>
<html lang="en">
    <%- include("../components/head/head.ejs") %>
    <script></script>
    <body>
        <div>
            <header><%- include("../components/header/header.ejs") %></header>
            <div class="pageContent">
                <%- include("../components/moderation/userCards.ejs") %>
            </div>
            <footer><%- include("../components/footer/footer.ejs") %></footer>
        </div>
    </body>
</html>
