<div class="innerFooter">
    <div class="leftFooter">
        <div>
            <p class="footerTitle">Questionnaire</p>
            <p>©2022</p>
        </div>
        <p>
            A quiz website aimed at testing your abilities at various topics.
            That is, if you're up for a challenge!
        </p>
    </div>
    <div class="rightFooter">
        <ul>
            <li class="footerTitle">Navigation</li>
            <li><a href="">Main page</a></li>
            <li><a href="">Home</a></li>
            <li><a href="">Quiz list</a></li>
            <li><a href="">Upload quiz</a></li>
        </ul>
        <ul>
            <li class="footerTitle">Links</li>
            <li><a href="">About us</a></li>
            <li><a href="">Contact us</a></li>
            <li><a href="">Sitemap</a></li>
            <li><a href="">Impressum</a></li>
        </ul>
        <div class="outer">
            <p class="footerTitle">Follow us</p>
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
            <p class="footerTitle">Project source</p>
            <a href="https://github.com/papdawin/Questionnaire"
                >https://github.com/papdawin/Questionnaire</a
            >
        </div>
    </div>
</div>