<div class="innerFooter">
    <div class="leftFooter">
        <div>
            <p class="footerTitle">Questionnaire</p>
            <p>©2022</p>
        </div>
        <p>
            A quiz website aimed at testing your abilities at various topics.
            That is, if you're up for a challenge!
        </p>
    </div>
    <div class="rightFooter">
        <ul>
            <li class="footerTitle">Navigation</li>
            <li><a href="/">Main page</a></li>
            <li><a href="/api/logout">Logout</a></li>
            <li><a href="/quiz">Quiz list</a></li>
            <li><a href="/upload">Upload quiz</a></li>
        </ul>
        <ul>
            <li class="footerTitle">Links</li>
            <li><a href="/about">About us</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/sitemap">Sitemap</a></li>
            <li><a href="/impressum">Impressum</a></li>
        </ul>
        <div class="outer">
            <p class="footerTitle">Follow us</p>
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                        ><i class="fa-brands fa-facebook-square"></i
                    ></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=1P5yyeeYF9o"
                        ><i class="fa-brands fa-twitter-square"></i
                    ></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=EpX1_YJPGAY"
                        ><i class="fa-brands fa-instagram-square"></i
                    ></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=lpiB2wMc49g"
                        ><i class="fa-brands fa-youtube-square"></i
                    ></a>
                </li>
            </ul>
            <p class="footerTitle">Project source</p>
            <a href="https://github.com/papdawin/Questionnaire"
                >https://github.com/papdawin/Questionnaire</a
            >
        </div>
    </div>
</div>
