<script>
    function renderQuestions() {
        let field = "";
        JSON.parse(window.localStorage.quizQuestions).map((item, index) => {
            field += `<h3>Question ${index + 1}: ${item.question}</h3>
                    <h4>Answer: ${item.correct}</h4>`;
        });

        document.querySelector("#questions").innerHTML = field;
    }
</script>
<div>
    <h3>Submitted questions:</h3>
    <div id="questions"></div>
</div>
<script>
    renderQuestions();
</script>
