<script>
    function addAnswerBox() {
        document
            .querySelector("#incorrectAnswer")
            .insertAdjacentHTML(
                "afterend",
                `<label>Incorrect answer: <input type="text" id="incorrectAnswer" /></label>`
            );
    }
    function addQuestion() {
        if (!window.localStorage.quizQuestions)
            window.localStorage.quizQuestions = JSON.stringify([]);

        const arr = JSON.parse(window.localStorage.quizQuestions);
        let incorrectArr = [];
        document.querySelectorAll("#incorrectAnswer").forEach((tag) => {
            incorrectArr.push(tag.value);
        });

        const question = {
            question: document.querySelector("#question").value,
            correct: document.querySelector("#correctAnswer").value,
            incorrect: [...incorrectArr],
        };

        arr.push(question);

        window.localStorage.setItem("quizQuestions", JSON.stringify(arr));

        renderQuestions();
    }
</script>
<div>
    <label>Question: <input type="text" id="question" /></label>
    <label>Correct answer: <input type="text" id="correctAnswer" /></label>
    <label>Incorrect answer: <input type="text" id="incorrectAnswer" /></label>
    <button onclick="addAnswerBox()">Add another answer option</button>
    <button onclick="addQuestion()">Submit question</button>
</div>
