<script>
    function addAnswerBox() {
        document
            .querySelector("#incorrectAnswer")
            .insertAdjacentHTML(
                "afterend",
                `<label>Incorrect answer:</label><input type="text" id="incorrectAnswer" />`
            );
    }
    function addQuestion() {
        if (!window.localStorage.quizQuestions)
            window.localStorage.quizQuestions = JSON.stringify([]);

        const arr = JSON.parse(window.localStorage.quizQuestions);
        let incorrectArr = [];
        document.querySelectorAll("#incorrectAnswer").forEach((tag) => {
            incorrectArr.push(tag.value);
        });

        const question = {
            question: document.querySelector("#question").value,
            correctAnswer: document.querySelector("#correctAnswer").value,
            incorrectAnswer: [...incorrectArr],
        };

        arr.push(question);

        window.localStorage.setItem("quizQuestions", JSON.stringify(arr));

        renderQuestions();
    }
</script>
<div>
    <h2>Question</h2>
    <label>Question:</label> <input type="text" id="question" />
    <label>Correct answer:</label> <input type="text" id="correctAnswer" />
    <label>Incorrect answer:</label> <input type="text" id="incorrectAnswer" />
    <button onclick="addAnswerBox()">Add another answer option</button>
    <button onclick="addQuestion()">Submit question</button>
</div>
