<script>
    function addToLocalProp(e) {
        if (!window.localStorage.quizProperties)
            window.localStorage.quizProperties = JSON.stringify({});
        const prev = {
            ...JSON.parse(window.localStorage.quizProperties),
            [e.id]: e.value,
        };
        window.localStorage.setItem("quizProperties", JSON.stringify(prev));
    }
    function submitQuiz() {
        const quiz = JSON.parse(window.localStorage.getItem("quizProperties"));
        quiz.questions = JSON.parse(
            window.localStorage.getItem("quizQuestions")
        );
        fetch("/api/quizsubmit", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(quiz),
        })
            .then(() => {
                window.localStorage.clear();
                window.location.href = window.location.href.slice(0, -6);
            })
            .catch(console.log);
    }
</script>
<div>
    <label
        >Name: <input type="text" id="name" onChange="addToLocalProp(this)"
    /></label>
    <label
        >Categories:
        <input type="text" id="categories" onChange="addToLocalProp(this)"
    /></label>
    <label
        >Difficulty:
        <input type="text" id="difficulty" onChange="addToLocalProp(this)"
    /></label>
    <button onclick="submitQuiz()">Submit quiz</button>
</div>
